<?php require_once 'views/layouts/header.html'; ?>
	<?php require_once 'views/layouts/menu.html'; ?>
    <section class="content">
        <div class="container-fluid"> 
            <div class="block-header">
                <h2>Управление пользователями</h2>
            </div>           
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Пользователи
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                    <a class="btn bg-cyan waves-effect" data-toggle="cardloading" data-loading-effect="ios" data-toggle="tooltip" data-placement="bottom" data-original-title="Обновить">
                                        <i class="material-icons">loop</i>
                                    </a>
                                    <button type="button" class="btn bg-green waves-effect" data-toggle="modal" data-target="#add"  data-toggle="tooltip" data-placement="bottom" data-original-title="Добавить">
                                        <i class="material-icons">add</i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div>
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
											<th>Роль</th>
											<th>Ф.И.О.</th>
											<th>Логин</th>
											<th>Статус</th>
											<th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>Роль</th>
											<th>Ф.И.О.</th>
											<th>Логин</th>
											<th>Статус</th>
											<th>Действия</th>
                                        </tr>
                                    </tfoot>
                                    <tbody><?php foreach($users as $user): ?>
										<tr>
											<td><?php echo $user['role']; ?></td>
											<td><?php echo $user['name']; ?></td>
											<td><?php echo $user['login']; ?></td>
                                            <td>
                                                <?php if($user['active'] == 1): ?>
                                                    <span class="label label-success">Активен</span>
                                                <?php else: ?>
                                                    <span class="label label-danger">Блокирован</span>                                                    
                                                <?php endif; ?>
                                            </td>
											<td>
                                                <button class="btn btn-warning waves-effect" 
                                                    onclick="reset_pass(<?php echo $user['id']; ?>)">
                                                    Сбросить пароль
                                                </button> 
                                                <?php if($_SESSION['id'] !== $user['id']): ?>
                                                    <a href="/users/delete/<?php echo $user['id']; ?>" class="btn bg-red waves-effect">                                                
                                                        <i class="material-icons">delete</i>
                                                    </a> 		
                                                <?php endif; ?>					
											</td>
										</tr>
									<?php endforeach; ?> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
    <!-- Default Size -->
    <div class="modal fade" id="add" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Добавление пользователя</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 m-l-35">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="name" required>
                                    <label class="form-label">Ф.И.О.</label>
                                </div>
                            </div>	
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="login" required>
                                    <label class="form-label">Логин</label>
                                </div>
                            </div>	
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="password" required>
                                    <label class="form-label">Пароль</label>
                                </div>
                            </div>	
                            <div class="form-group">
                                <select class="form-control show-tick" name="role">
                                    <option value="admin">Администратор</option>
                                    <option value="moderator">Модератор</option>
                                    <option value="metodist">Методист</option>
                                </select>
                            </div>	
                            <div class="form-group">
                                <input type="checkbox" name="active" class="filled-in" checked />
                                <label for="active">Активность</label>
                            </div>	                           
                        </div>
                    </div><!-- ./row -->
                </div><!-- ./modal-body -->
                <div class="modal-footer">
                    <input type="submit" name="submit" class="btn btn-success waves-effect" value="Добавить">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
	</div>
<?php require_once 'views/layouts/footer.html'; ?>